section.about
	.container
		+blockBox("what we do", "story about us", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
		.about-list 
			+aboutItem("../images/img-about1.png", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, s", "fa fa-users")
			+aboutItem("../images/img-about2.png", "Title2", "fa fa-users")
			+aboutItem("../images/img-about3.png", "Title3", "fa fa-users")