section.qoute 
  .container 
    .qoute-container 
      .i.fa.fa-angle-left.qoute-arrow-left.qoute-arrow
      .qoute-content 
        .qoute-icon 
          img(src="../images/img-quote.png", alt="")
        .qoute-info  
          p.qoute-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate totam similique, fugit error ipsa officiis exercitationem molestiae eum quibusdam ut earum aut corrupti reprehenderit vitae dicta quis voluptatem saepe maiores.
          span.qoute-author Lorem, ipsum dolor.
      .i.fa.fa-angle-right.qoute-arrow-righht.qoute-arrow