section.service.reveal 
  .container
    +blockBox("We work with","Amazing Service")
    .service-list
      .service-item 
        img.service-item-icon(src = "../images/img-service-icon1.png")
        .service-item-info 
          h3.service-item-title Photography
          p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
      .service-item 
        img.service-item-icon(src = "../images/img-service-icon2.png")
        .service-item-info 
          h3.service-item-title Photography
          p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
      .service-item 
        img.service-item-icon(src = "../images/img-service-icon3.png")
        .service-item-info 
          h3.service-item-title Photography
          p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
    .service-list
      .service-item 
        img.service-item-icon(src = "../images/img-service-icon4.png")
        .service-item-info 
          h3.service-item-title Photography
          p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
      .service-item 
        img.service-item-icon(src = "../images/img-service-icon5.png")
        .service-item-info 
          h3.service-item-title Photography
          p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
      .service-item 
        img.service-item-icon(src = "../images/img-service-icon6.png")
        .service-item-info 
          h3.service-item-title Photography
          p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, 