section.service.reveal 
  .container
    +blockBox("We work with","Amazing Service")
    .service-list
      +serviceItem("../images/img-service-icon1.png", " Photography Photography Photography","Lorem ipsum dolor sit amet,  incididunt ut labore et dolore magna aliqua.")
      +serviceItem("../images/img-service-icon2.png", "Photography","Lorem ipsum dolor sit amet,  incididunt ut labore et dolore magna aliqua.")
      +serviceItem("../images/img-service-icon3.png", "Photography","Lorem ipsum dolor sit amet,  incididunt ut labore et dolore magna aliqua.")
    .service-list
      +serviceItem("../images/img-service-icon4.png", "Photography","Lorem ipsum dolor sit amet,  incididunt ut labore et dolore magna aliqua.")
      +serviceItem("../images/img-service-icon5.png", "Photography","Lorem ipsum dolor sit amet,  incididunt ut labore et dolore magna aliqua.")
      +serviceItem("../images/img-service-icon6.png", "Photography","Lorem ipsum dolor sit amet,  incididunt ut labore et dolore magna aliqua.")