section.team
  .container
    +blockBox("who we are", "meet our team", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe esse laudantium delectus distinctio sint debitis vel, ")
    .team-list  
      +teamItem("../images/img-team2.png","Acut", "junior Frontend")
        +teamSocial("#1")
      +teamItem
        +teamSocial("#2")
      +teamItem
        +teamSocial("#3")
section.brand
  .container
    img(src= "./images/img-logos.png")