section.wedo
  .container  
    +blockBox("Service", "What we do","Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam inventore tenetur, facere, nisi dicta numquam b")
    .wedo-container 
      img(src="../images/img-wedo.png").wedo-image
      .wedo-content
        //- accordion
        +wedoItem("../images/img-wedo-icon1.png","Photography", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Non commodi doloremque, iusto vel cumque quo veniam perferendis quaerat magni laboriosam neque, sunt laudantium asperiores repellendus id obcaecati repellat aspernatur quisquam!Lorem ipsum dolor sit amet consectetur adipisicing elit. Non commodi doloremque, iusto vel cumque quo veniam perferendis quaerat magni laboriosam neque, sunt laudantium asperiores repellendus id obcaecati repellat aspernatur quisquam!","is-active")
        +wedoItem("../images/img-wedo-icon2.png","Creativity", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Non commodi doloremque, iusto vel cumque quo veniam perferendis quaerat magni laboriosam neque, sunt laudantium asperiores repellendus id obcaecati repellat aspernatur quisquam!Lorem ipsum dolor sit amet consectetur adipisicing elit. Non commodi doloremque, iusto vel cumque quo veniam perferendis quaerat magni laboriosam neque, sunt laudantium asperiores repellendus id obcaecati repellat aspernatur quisquam!")
        +wedoItem("../images/img-wedo-icon3.png","Web design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Non commodi doloremque, iusto vel cumque quo veniam perferendis quaerat magni laboriosam neque, sunt laudantium asperiores repellendus id obcaecati repellat aspernatur quisquam!Lorem ipsum dolor sit amet consectetur adipisicing elit. Non commodi doloremque, iusto vel cumque quo veniam perferendis quaerat magni laboriosam neque, sunt laudantium asperiores repellendus id obcaecati repellat aspernatur quisquam!")
        
        