.about {
  padding-top: 9.3rem;
  padding-bottom: 11rem;
  background-color: white;

  // #C1 Flex box
  // &-list{
  //     display: flex;
  //     flex-wrap: wrap;
  //     margin-left: -3rem;
  // }
  // &-item{
  //     width: calc(33.33% - 3rem);
  //     margin-left: 3rem;
  // }
  // #C2 GRID
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
  }

  &-image{
    display: block;
    @include size(100%);
    object-fit: cover;
  }
  &-content {
    
    transition: all .25s linear;
    text-transform: uppercase;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white;
  }

  &-icon {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  &-title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.5;
    @include textClamp(1);

  }
  @include maxWidth(767px){
    padding-top: 5rem;
		padding-bottom: 5rem;
    //Respon sive grid
    &-list {
      grid-template-columns: unset;
      grid-row-gap: 2rem;
      grid-auto-flow: column  ;
      grid-auto-columns: 80%;
      overflow-x: auto;
      padding: 1rem;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      @include hideScroll;
    }
    &-item{
      scroll-snap-align: center;
    }
    // Responsive flex
    //  &-item {
    //  width: 100%;
    //  margin-bottom: 2rem;
    // }
  }
}
@include hoverEffect(".about-item",".about-content");