extends layout/layout

block vars
  -title = 'A Cut'
  -bodyClass = 'home-page'

block container
  include blocks/about
  include blocks/number
  include blocks/service
  include blocks/device
  include blocks/wedo